mixin youtube_swf()
	object(width='640', height='360')
		param(name='movie', value='https://www.youtube.com/v/30Acy8Z9jkw?version=3')
		param(name='allowFullScreen', value='true')
		param(name='allowScriptAccess', value='always')
		embed(type='application/x-shockwave-flash' allowfullscreen='true', id='ytplayer', allowscriptaccess='always', width='640', height='360')
