doctype 5
html
	head
		title youtube.js
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js')
		script(src='/js/swfobject.js')
		script(src='/js/application_base.js')
		script(src='/socket.io/socket.io.js')
		block javascripts

	body
		div.container.main-contain
			div.span6
				block left_bar_content
			div.span5
				block right_bar_content

	div.bigblock
