mixin youtube_swf()
	object(width='640', height='360')
		param(name='movie', value='https://www.youtube.com/v/30Acy8Z9jkw?version=3')
		param(name='allowFullScreen', value='true')
		param(name='allowScriptAccess', value='always')
		embed(ype='application/x-shockwave-flash', allowfullscreen='true', id='ytplayer', allowscriptaccess='always', width='640', height='360')

mixin controls()
	div.controls
		div.volume
			span.titlecard volume
			div.volume-container
				div.volume-control
		div.container 
			div.span3.interface-button
				span.titlecard.pause-control pause 
					i.icon-pause
				span.titlecard.play-control.hide play 
					i.icon-play 

			div.span3.interface-button
				span.titlecard.skip-control skip 
					i.icon-fast-forward 


mixin add_dialog()
	div.modal.hide.fade.add-modal
		div.modal-header
			button.close(type=button, data-dismiss='modal', aria-hidden='true') &times;
			h3 Add a video
		div.modal-body
			p Add a video by pasting a YouTube URL.
			input.add-value(type='text', placeholder='http://www.youtube.com/watch?v=wiAiRBFHgYI')
		div.modal-footer
			a.btn(data-dismiss='modal', href='#') Close
			a.btn.btn-primary.modal-save(data-dismiss='modal',href='#') Save changes

