include mixins
extends layout

block javascripts
	script(src='/js/application_server.js')

block left_bar_content
	h1 youtube.js server

	mixin youtube_swf()
	
	mixin controls()

	mixin add_dialog()


block right_bar_content
	h1 upcoming
		a.btn.add-button +
	ul.media-list
